<div class="row">
    <div class="col-md-4 offset-md-4">
        <div>
            <form>
                <div class="form-group">
                    <label for="emailCreateUser">Email address</label>
                    <input type="email" class="form-control" id="emailCreateUser" aria-describedby="emailHelp" placeholder="Enter email">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <div class="form-group">
                    <label for="passwordCreateUser">Password</label>
                    <input type="password" class="form-control" id="passwordCreateUser" placeholder="Password">
                </div>
                <div class="form-group">
                    <label for="firstNameCreateUser">First Name</label>
                    <input type="text" class="form-control" id="firstNameCreateUser" placeholder="First Name">
                </div>
                <div class="form-group">
                    <label for="lastNameCreateUser">Last Name</label>
                    <input type="text" class="form-control" id="lastNameCreateUser" placeholder="Last Name">
                </div>
                <div class="form-group">
                    <label for="userNameCreateUser">Username</label>
                    <input type="text" class="form-control" id="userNameCreateUser" placeholder="Username">
                </div>
                <button type="submit" class="btn btn-primary" (click)="createUser()">Submit</button>
            </form>
        </div>
    </div>
</div>